<html>
	<head>
	    <meta charset="utf-8">
	    <title>指数项目分布图</title>
	</head>
	<!-- <style>
		.mapBox{width: 350px; height: 225px;}
		.mapBox>div{ float: top;}
		.map{ width: 350px; height: 225px; }
		.provinceMap{width: 350px; height: 225px;}
	</style> -->
<body>
  <br/>
  <!-- <h1 align="center">指数</h1> -->
<div class="mapBox">
	<div class="ChinaMap"></div>
</div>
<div class="mapBox">
	<div class="provinceMap"></div>
</div>
<script src="d3.v3.js" charset="utf-8"></script>
<script src="chinaMap.js" charset="utf-8"></script>
<script type="text/javascript">
var provinceData = [
      {"name": "北京", "value":	1, "tip": "1 <br/>中国·中关村电子信息产品指数"},
			{"name": "天津", "value":	0, "tip": "0"},
			{"name": "河北", "value":	0, "tip": "0"},
			{"name": "山西", "value":	0, "tip": "0"},
			{"name": "辽宁", "value":	0, "tip": "0"},
			{"name": "内蒙古", "value":	0, "tip": "0"},
			{"name": "吉林", "value":	0, "tip": "0"},
			{"name": "黑龙江", "value":	0, "tip": "0"},
			{"name": "上海", "value":	0, "tip": "0"},
			{"name": "江苏", "value":	0, "tip": "0"},
      {"name": "浙江", "value":	10, "tip": "10 <br/>中国·义乌小商品指数 <br/>中国·柯桥纺织指数 <br/>中国·海宁皮革指数 <br/>中国·四季青服装指数 <br/>中国·金恒德汽车用品价格指数 <br/>中国·永康五金指数 <br/>中国·舟山水产品指数 <br/>杭州市科委发展指数 <br/>泰隆银行小微企业指数 <br/>浙江省菜篮子零售价格指数"},
			{"name": "安徽", "value":	0, "tip": "0"},
      {"name": "福建", "value":	1, "tip": "1 <br/>中国·水头石材指数"},
      {"name": "江西", "value":	0, "tip": "0"},
      {"name": "山东", "value":	4, "tip": "4 <br/>中国·寿光蔬菜指数 <br/>中国·金乡大蒜指数 <br/>中国·临沂商城价格指数 <br/>中国·昌邑生姜指数"},
			{"name": "河南", "value":	0, "tip": "0"},
			{"name": "湖北", "value":	0, "tip": "0"},
			{"name": "湖南", "value":	0, "tip": "0"},
			{"name": "广东", "value":	0, "tip": "0"},
			{"name": "广西", "value":	0, "tip": "0"},
			{"name": "海南", "value":	0, "tip": "0"},
			{"name": "重庆", "value":	0, "tip": "0"},
      {"name": "四川", "value":	1, tip:"1 <br/>中国·成都中药材指数"},
			{"name": "贵州", "value":	0, "tip": "0"},
			{"name": "云南", "value":	0, "tip": "0"},
			{"name": "西藏", "value":	0, "tip": "0"},
			{"name": "陕西", "value":	0, "tip": "0"},
			{"name": "甘肃", "value":	0, "tip": "0"},
			{"name": "青海", "value":	0, "tip": "0"},
			{"name": "宁夏", "value":	0, "tip": "0"},
			{"name": "新疆", "value":	0, "tip": "0"},
			{"name": "澳门", "value":	0, "tip": "0"},
			{"name": "台湾", "value":	0, "tip": "0"},
		];

    var provinceData2 = [
                {"name": "海淀区", "value": 1, "tip": "1 <br/>中国·中关村电子信息产品指数", "indexURL": ["http://www.zgcindex.org"]},
                {"name": "舟山市", "value": 1, "tip": "1 <br/>中国·舟山水产品指数", "indexURL": ["http://www.scpzs.com/"]},
                {"name": "绍兴市", "value": 1, "tip": "1 <br/>中国·柯桥纺织指数", "indexURL": ["http://zs.zjpi.gov.cn/market/index/keqiao"]},
                {"name": "嘉兴市", "value": 1, "tip": "1 <br/>中国·海宁皮革指数", "indexURL": ["http://www.hnindex.com"]},
                {"name": "台州市", "value": 1, "tip": "1 <br/>泰隆银行小微企业指数", "indexURL": [""]},
                {"name": "金华市", "value": 2, "tip": "2 <br/>中国·义乌小商品指数 <br/>中国·永康五金指数 ", "indexURL": ["http://www.ykindex.com"]},
                {"name": "杭州市", "value":	4, "tip": "4 <br/>浙江省菜篮子指数 <br/>杭州市科委发展指数 <br/>中国·四季青服装指数 <br/>中国·金恒德汽车用品价格指数", "indexURL": ["http://zs.zjpi.gov.cn/market/index/shijiqin", "http://www.jhdindex.com","http://zs.zjpi.gov.cn/market/index/cailanzi"]},
                {"name": "临沂市", "value": 1, "tip": "1 <br/>中国·临沂商城价格指数", "indexURL": ["http://www.lyscprice.com/"]},
                {"name": "南安市", "value": 1, "tip": "1 <br/>中国·水头石材指数", "indexURL": ["http://www.stindex.cn/"]},
                {"name": "济宁市", "value":	1, "tip": "1 <br/>中国·金乡大蒜指数", "indexURL": ["http://www.jxdsi.com/"]},
                {"name": "潍坊市", "value":	2, "tip": "2 <br/>中国·寿光蔬菜指数 <br/>中国·昌邑生姜指数", "indexURL": ["http://www.sgvindex.com", "http://www.cyindex.com"]},
                {"name": "成都市", "value": 1, "tip": "1 <br/>中国·成都中药材指数", "indexURL": ["http://www.ysindex.com/"]}
            ];


	var opt = {
		data: provinceData,
		container: '.ChinaMap',
		isShowLinearGradient: true,
		isShowSouthSea: true,
		isShowProvince: true,
		isShowLinearGradient: true,
		provinceData: provinceData2
	}
	new ChinaMap(opt);
</script>


</body>
</html>
